body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #555;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

td,
th,
caption {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

html {
    overflow-y: scroll;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.el-card {
    --el-card-padding: 10px;
}

.card-header {
    padding: 0px;
}

.el-tabs{
    --el-tabs-header-height: 30px;
}

.el-dialog__header {
    background: #256CFD;
    margin-right: 0px;
    padding-bottom: 10px;
}

.el-dialog__headerbtn {
    height: 30px;
}

.el-dialog__title {
    line-height: 10px;
    color: #fff;
    font-size: 16px;
}

.el-dialog__headerbtn .el-dialog__close {
    color: #fff;
}

.el-dialog {
    --el-dialog-padding-primary: 10px;
}

/* button--primary */
.el-button--primary {
    --el-button-bg-color: #007AFF;
    --el-button-border-color: #007AFF;
    --el-button-hover-bg-color: #3395FF;
    --el-button-hover-text-color: #fff;
    --el-button-hover-border-color: #3395FF;
    /* 158bb8 选中时颜色 */
    --el-button-active-bg-color: #007AFF;
    --el-button-active-text-color: #fff;
    --el-button-active-border-color: #007AFF;

    --el-button-disabled-bg-color: #007AFF;
    --el-button-disabled-border-color: #007AFF;


}

.el-button--primary.is-link {
    --el-button-text-color: #007AFF;
    --el-button-hover-text-color: #3395FF;
}

.el-button {
    --el-button-hover-text-color: #fff;
    --el-button-hover-border-color: #3395FF;
    --el-button-active-border-color: #007AFF;

    --el-border-radius-base: 2px;
}

.el-main {
    --el-main-padding: 10px;
}

.el-input {
    --el-border-radius-base: 2px;
}

.el-form-item__label {
    --el-text-color-regular: #262626;
}

.el-table thead {
    color: #262626;
}

.el-table {
    --el-border-color-lighter: #BFDEFF;
    --el-table-header-bg-color: #E0EFFF;
}

/* 修改斑马线表格的背景 */
.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #F0F7FF !important;
}

/* 修改hover */

.el-table__body tr.hover-row.current-row>td.el-table__cell,
.el-table__body tr.hover-row.el-table__row--striped.current-row>td.el-table__cell,
.el-table__body tr.hover-row.el-table__row--striped>td.el-table__cell,
.el-table__body tr.hover-row>td.el-table__cell {
    background-color: #E0EFFF !important;
}

.el-table .el-table__cell {
    padding: 5px 0;
}

/* .el-table .el-table__body tr.el-table__row--striped td.el-table__cell {
    background: #F0F7FF;
} */

.el-pagination {
    --el-pagination-hover-color: #3395FF;
}

.el-pager li {
    border: 1px #BFBFBF solid;
}

.el-pagination.is-background .el-pager li {
    background: #fff;
}

.el-pagination.is-background .el-pager li.is-active {
    border: #007AFF;
}

.el-pagination--small .btn-next {
    border: 1px #BFBFBF solid;
}

.el-pagination--small .btn-prev {
    border: 1px #BFBFBF solid;
}

.el-pagination.is-background .btn-next {
    background-color: #fff;
}

.el-pagination.is-background .btn-prev {
    background-color: #fff;
}

.el-pagination.is-background .btn-prev:disabled {
    background-color: #fff;
}

.el-pagination.is-background .btn-next:disabled {
    background-color: #fff;
}